# Environment
test_async_env/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# IDE
.vscode/
.idea/

# Data files
#*.db
#*.parquet
archive/
testing.ipynb
test_design.ipynb
test_package.ipynb
test_output_compare.ipynb
version_testing/
experiments/

# firmware_validation - agency-specific data (not for git)
firmware_validation/databases/
firmware_validation/databases.xlsx
firmware_validation/logs/
firmware_validation/logs - Copy/
firmware_validation/conflict_monitor/
firmware_validation/results/
firmware_validation/test_suite.yaml
firmware_validation/get_data.ipynb
firmware_validation/~$databases.xlsx
firmware_validation/logs- test/


dist/
firmware_validation/logs*
